# Python
__pycache__/
*.pyc
.venv/
venv/

# Dataset
dataset/raw/source/*
dataset/raw/clean/*
dataset/generated/*
!dataset/raw/source/.gitkeep
!dataset/raw/clean/.gitkeep
!dataset/generated/.gitkeep

# Database
*.db

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Logs
*.log
